.Header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    
}


.Header img{
   max-width: 150px;
   display: block;

}

.work {display: flex;
    flex: wrap;
   
    
}

.work img { 
max-width: 150px;
display: block;
margin: 5px;
padding: 10px;
justify-content: center;
display: flex;

    
}

.work

.flex-container {}